<div class="container">
  <h1 class="text-center">Adminstrator</h1>
    <ul>
        <li><%= @item.title %> |
        <%= @item.description %> |
        <%= @item.admin.email %>
        </li>
        <li>
        <%= link_to "Edit", edit_item_path(@item) %>
        <%= link_to "Delete", item_path(@item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </li>
    </ul>
</div>