<%= form_with model: item do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>
    <% item.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.rich_text_area :description %><br>
    <% item.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label "External Link" %><br>
    <%= form.text_field :link %>
  </div>

    <div>
    <%= form.label :tags %><br>
    <%= form.text_field :tags %>
  </div>
<div>
<%= form.collection_check_boxes(:category_ids, Category.all, :id, :name)  %>
</div>
  <div>
    <%= form.submit %>
  </div>
<% end %>