<div id="main">
<ul>
  <% @items.each do |item| %>
    <li class="itemlink">
      <%= link_to_unless_current item.title, item %>
    </li>
  <% end %>
</ul>
<div id="itemwrapper">
<h1 style="text-align:right; margin-top:0; margin-right:10px;"><%= @item.title %></h1>
<%= @item.description.body %>
Scope:
<% @item.categories.each do |category| %>
<%= link_to category.name, category_path(category.friendly_id) %>
<% end %>
<br>
<%= @item.tags %>r

</p>
</div>
</div>